
h1{
    color:red;
    font-size:2em;
    font-family:Arial, sans-serif;
    margin:0;
    border-bottom: 2px dashed black; 
}
p{
    color:#003366;
    font-size: .9em;
    line-height: 150%;
    margin-top: 0;
    margin-left: 25px;
}

h2{
    color: #FFFFCC;
    margin-bottom: 0;
    padding: 5px 0px 3px 25px;
    background-color: #999999;
}


footer{
    font-family: "Arial";
    font-size: 0.1em;
    overflow:auto;
    width:100%;
    text-transform:uppercase;
}
.wrapper{
    width:100%;
}
.optiontest{
    color:#8C1018;
    background-color: #9e9ec2;
    width:10%;
    font-size: 2rem;
    float: right;
    margin: 50px;
}
#genderform{
    float:left;
    width: 100%;
    display:block;
    color: #00823b;
    background-color: #FFF;
    font-size:2em;
}
#DoBform{
    display:block;
    width: 100%;
    font-size: 2rem;
}
#DoB{
    width:30%;
    height:20%;
    font-size: 2rem;
}

.radios_item{
    font-weight: 400;
    font-size: 16px;
    font-size: 2rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 80px;
    clear:left
}
.radios_input{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 12px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity:0
}
.radios_label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 50%;
    background:transparent
}

.radios_label:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border: 10px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background:currentColor;
}
.radios_input:checked + .radios_label:after {
    opacity:1;
}

body{
    font-family: "Arial";
    font-size:16px;
    color: #635959;
    background-color:#ffffff;
    overflow:auto;
    width:100%;
}

